.section_all_products {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.content_all_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.content_all_section a {
    text-decoration: none;
    color: black;
}

.product {
    background-color: #EBEBEB;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.div_img_product {
    width: 100%;
    height: 80%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.img_product {
    width: 100%;
    transition: transform .5s;
}

.img_product:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.info_product {
    height: 20%;
    background-color: #CBCBCB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product_title, .product_price {

    margin: 0;

}

.product_title {
    font-size: 120%;
    font-weight: bold;
}

h2 {
    font-size: 200%;
}


@media screen and (max-width: 346px){

    .content_all_section {
        margin-left: 0;
        margin-right: 0;
    }

    .content_all_section a {
        width: 100%;
    }

}